:root {
  --primary: #ff4b4b;
  --secondary: #fee;
  --background: #222;
  --highlight: #ff000044;
  --link: #d0d0f5;

  font-family: sans-serif;
  background-color: var(--background);
  color: var(--primary);
}
body {
  text-align: center;
}
canvas#canvas {
  border: 5px solid var(--highlight);
  margin-top: 1em;
}
header {
  font-size: 2em;
}
footer {
  /*font-size: 0.75em;*/
  margin: auto;
}
a {
  color: var(--link);
}
div.subheader {
  font-size: 0.75em;
  color: var(--secondary);
}
button {
  background-color: transparent;
  border: 1px solid var(--highlight);
  color: var(--primary);
  margin: 0 0.5em;
  &:hover {
    background-color: var(--highlight);
    cursor: pointer;
  }
}
