:root {
  --primary: #f00;
  --secondary: #200;
  --background: #fffffd;
  --highlight: #ff000044;

  font-family: sans-serif;
  background-color: var(--background);
  color: var(--primary);
}
body {
  text-align: center;
}
canvas#canvas {
  margin-top: 1em;
}
header {
  font-size: 2em;
}
footer {
  font-size: 0.75em;
  width: 800px;
  margin: auto;
}
div.subheader {
  font-size: 1.5em;
  color: var(--secondary);
}
button {
  background-color: transparent;
  border: 1px solid var(--highlight);
  color: var(--primary);
  margin: 0 0.5em;
  &:hover {
    background-color: var(--highlight);
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #f00;
    --secondary: #fee;
    --background: #222;
    --highlight: #ff000044;
  }
}